@{
	ViewBag.Title = "Resume";
}

<div id="resume" class="clearfix">
	<div class="box-center clearfix">
		<ul class="box-years">
			<li><a href="#year1" rel="year1_scrollTo" id="y1" class="current">now<br />
				2012</a></li>
			<li><a href="#year2" rel="year2_scrollTo" id="y2">2012<br />
				2011</a></li>
			<li><a href="#year3" rel="year3_scrollTo" id="y3">2011<br />
				2010</a></li>
			<li><a href="#year4" rel="year4_scrollTo" id="y4">2010<br />
				2006</a></li>
			<li><a href="#year5" rel="year5_scrollTo" id="y5">2006<br />
				2005</a></li>
		</ul>
		<div class="shadow box-txt-years" id="scroll">
			<div id="year1" class="yearsize">
				<h4>Lead Argo Web Programmer</h4>
				<h5><i class="icon-angle-right"></i>Zenmonics</h5>

•	Providing Argo developer services to Zenmonics’ clients.
•	Implementing significant updates to an existing Argo Sales & Service application
o	Increase performance and functionality of Address Maintenance so that it can quickly perform changes to thousands of accounts
o	Adding front end paging support with the use of jQuery for Related Accounts on customer and account profiles
o	Resolving defects reported in various stages of development and production
o	Documenting the technical functionality in the Argo Sales & Service application 
•	Designing and developing a performance and debug utility in C# to support Argo software development

				<p>Aliquam erat volutpat. Maecenas non tortor nulla, non malesuada velit. Nullam felis tellus, tristique nec egestas in, luctus sed diam. Suspendisse potenti. </p>
				<a href="#">Link style</a>
				<div class="note"><span>FRONT DEV</span><span>FRAMEWORK</span><span>MARKETING</span> </div>
				<hr />
				<h4>SENIOR DEVELOPER</h4>
				<h5><i class="icon-angle-right"></i>Google, Inc.</h5>
				<p>Consectetur adipiscing elit. Nulla consectetur libero consectetur quam consequat nec tincidunt massa feugiat. Donec egestas mi turpis. Fusce adipiscing dui eu metus gravida vel facilisis ligula iaculis. Cras a rhoncus massa. Donec sed purus eget nunc placerat consequat.</p>
				<hr />
			</div>
			<div id="year2" class="yearsize">
				<h4>SEO SPECIALIST</h4>
				<h5><i class="icon-angle-right"></i>Creative Agency</h5>
				<p>Aliquam erat volutpat. Maecenas non tortor nulla, non malesuada velit. Nullam felis tellus, tristique nec egestas in, luctus sed diam. Suspendisse potenti. </p>
				<p>Consectetur adipiscing elit. Nulla consectetur libero consectetur quam consequat nec tincidunt massa feugiat. Donec egestas mi turpis. Fusce adipiscing dui eu metus gravida vel facilisis ligula iaculis. Cras a rhoncus massa. Donec sed purus eget nunc placerat consequat.</p>
				<a href="#">Link style</a>
				<div class="note"><span>CMS</span><span>DDBB</span> </div>
				<hr />
			</div>
			<div id="year3" class="yearsize">
				<h4>SOFTWARE ENGINEER</h4>
				<h5><i class="icon-angle-right"></i>Facebook, Inc.</h5>
				<p>Aliquam erat volutpat. Maecenas non tortor nulla, non malesuada velit. Nullam felis tellus, tristique nec egestas in, luctus sed diam. Suspendisse potenti. </p>
				<p>Consectetur adipiscing elit. Nulla consectetur libero consectetur quam consequat nec tincidunt massa feugiat. Donec egestas mi turpis. Fusce adipiscing dui eu metus gravida vel facilisis ligula iaculis. Cras a rhoncus massa. Donec sed purus eget nunc placerat consequat.</p>
				<a href="#">Link style</a>
			</div>
			<div id="year4" class="yearsize">
				<h4>INFORMATION SYSTEMS ENGINEER</h4>
				<h5><i class="icon-angle-right"></i>University of Cambridge</h5>
				<p>Aliquam erat volutpat. Maecenas non tortor nulla, non malesuada velit. Nullam felis tellus, tristique nec egestas in, luctus sed diam. Suspendisse potenti. </p>
				<p>Consectetur adipiscing elit. Nulla consectetur libero consectetur quam consequat nec tincidunt massa feugiat. Donec egestas mi turpis. Fusce adipiscing dui eu metus gravida vel facilisis ligula iaculis. Cras a rhoncus massa. Donec sed purus eget nunc placerat consequat.</p>
				<a href="#">Link style</a>
			</div>
			<div id="year5" class="yearsize">
				<h4>INFORMATION SYSTEMS ENGINEER</h4>
				<h5><i class="icon-angle-right"></i>University of Cambridge</h5>
				<p>Aliquam erat volutpat. Maecenas non tortor nulla, non malesuada velit. Nullam felis tellus, tristique nec egestas in, luctus sed diam. Suspendisse potenti. </p>
				<p>Consectetur adipiscing elit. Nulla consectetur libero consectetur quam consequat nec tincidunt massa feugiat. Donec egestas mi turpis. Fusce adipiscing dui eu metus gravida vel facilisis ligula iaculis. Cras a rhoncus massa. Donec sed purus eget nunc placerat consequat.</p>
				<a href="#">Link style</a>
			</div>
		</div>
	</div>
	<div class="box-right clearfix">
		<div class="skill clearfix">
			<h2>SKILLS<i class="icon-star"></i></h2>
			<div class="item-skill shadow">
				<h3>HTML5</h3>
				<div class="my-progress-bar" data-bar-length="80"></div>
			</div>
			<div class="item-skill shadow">
				<h3>CSS3</h3>
				<div class="my-progress-bar" data-bar-length="85"></div>
			</div>
			<div class="item-skill shadow">
				<h3>MS SQL</h3>
				<div class="my-progress-bar" data-bar-length="90"></div>
			</div>
			<div class="item-skill shadow">
				<h3>ASP.NET MVC</h3>
				<div class="my-progress-bar" data-bar-length="95"></div>
			</div>
			<div class="item-skill shadow">
				<h3>jQuery</h3>
				<div class="my-progress-bar" data-bar-length="100"></div>
			</div>
			<div class="item-skill shadow">
				<h3>ARGO ADS</h3>
				<div class="my-progress-bar" data-bar-length="100"></div>
			</div>
		</div>
		<div class="certificate clearfix">
			<h2>CERTIFICATIONS<i class="icon-certificate"></i></h2>
			<ul>
				<li><strong>MCSD</strong> - Solutions Developer</li>
				<li><strong>CCIE</strong> - Cisco Certified Internetwork Expert</li>
				<li><strong>ACSP</strong> - Apple Certified Support Professional</li>
			</ul>
		</div>
	</div>
</div>
