@{
	ViewBag.Title = "Home Page";
}

@Scripts.Render("~/bundles/controller/home/index")
<div id="profile" class="clearfix">
	<div class="box-center clearfix">
		<div class="maindata">
			<div class="item clearfix">
				<div class="firsto"><span>Name</span></div>
				<div class="secondto">James Alfred Bolton</div>
			</div>
			<div class="item clearfix">
				<div class="firsto"><span>Date of birth</span></div>
				<div class="secondto">Feb 12, 1984</div>
			</div>
			<div class="item clearfix">
				<div class="firsto"><span>Phone</span></div>
				<div class="secondto">1.214.937.9951</div>
			</div>
			<div class="item clearfix">
				<div class="firsto"><span>Address</span></div>
				<div class="secondto">McKinney, TX 75070</div>
			</div>
		</div>
		<div class="quote shadow">
			<h3>About me</h3>
			<div id="scroll-about">
				<p>I am James Bolton and I was born in Dallas, Texas. I'm addicted to software development/design, coffee, <a href="http://www.texashuskyrescue.org" target="_blank">rescuing huskies</a>, and time with my family.</p>
				<p>I've been implementing web based applications for <a href="http://www.relbanks.com/north-america/usa" target="_blank">top tier banks</a> for almost 7 years. I travelled for most of the first 5 years and have been the lead developer on my projects for almost 6 years.</p>
				<p>Currenlty, I work for <a href="http://www.zenmonics.com/" target="_blank">Zenmonics</a> from my home in Texas. I freelance to keep up with the experience, to keep up with technology, and for the unique challenges each job brings.</p>
			</div>
		</div>
	</div>
	<div class="box-right clearfix">
		<div class="flexslider">
			<!-- Slider -->
			<div class="tape"></div>
			<ul class="slides">
				<li>
					<img src="/Content/Images/gallery/skills.png" alt="" />
				</li>
				<li>
					<img src="/Content/Images/gallery/txhr.png" alt="" />
				</li>
				<li>
					<img src="/Content/Images/gallery/code.png" alt="" />
				</li>
			</ul>
		</div>
		<!-- /Slider -->
		<ul class="linkdata shadow">
			<li><a href="mailto:jamesabolton@gmail.com"><i class="icon-envelope"></i><span>Send Me an Email</span></a></li>
			<li><a href="/Content/vCard.vcf"><i class="icon-cloud-download"></i><span>Download my Vcard</span></a></li>
			<li><a href="/Blog"><i class="icon-desktop"></i><span>Visit my Blog</span></a></li>
			<li><a href="https://www.codeplex.com/site/users/view/jamesbolton"><i class="icon-code"></i><span>See my work at CodePlex</span></a></li>
		</ul>
		<ul class="social clearfix">
			<li class="facebook"><a href="https://www.facebook.com/jxbolt" target="_blank">Facebook</a></li>
			<li class="linkedin"><a href="http://www.linkedin.com/pub/james-bolton/26/189/80a/" target="_blank">Linkedin</a></li>
			<li class="twitter"><a href="https://twitter.com/boltojam" target="_blank">Twitter</a></li>
			<li class="googleplus"><a href="https://plus.google.com/118324786098704710407/posts" target="_blank">Google+</a></li>
		</ul>
	</div>
</div>

