@{
	ViewBag.Title = "Portfolio";
}
<div id="portfolio" class="clearfix">
	<div id="porfolio-container">
		<div class="box"><a href="http://texashuskyrescue.org" rel="prettyPhoto" title="Texas Husky Rescue">
			<img src="/Content/Images/gallery/txhr.png" alt="Texas Husky Rescue"></a> </div>

		<div class="box">
			<a href="https://sqlgen.codeplex.com/" rel="prettyPhoto">
				<img src="/Content/Images/gallery/sql.png" alt="Sql Script Generator" title=""></a>
			<div class="padd">
				<p>Sql Script Generator is a tool for generate INSERT/UPDATE statement sql script. With Sql Script Generator you can create script to copy data from one database to another.</p>
			</div>
		</div>

		<div class="box"><a href="https://github.com/jamesabolton/jnmbolton" rel="prettyPhoto" title="GitHub Repo for this site">
			<img src="/Content/Images/gallery/jnmbolton.png" alt="GitHub Repo for this site" title=""></a> </div>

		<div class="box icon">
			<div class="padd"><a href="https://twitter.com/boltojam"><i class="icon-twitter"></i></a></div>
		</div>

		<div class="box"><a href="https://meidfinder.codeplex.com/" rel="prettyPhoto" title="MEID / ESN Finder">
			<img src="/Content/Images/gallery/meidfinder.png" alt="MEID / ESN Finder" title=""></a> </div>

		<div class="box icon">
			<div class="padd"><a href="https://plus.google.com/118324786098704710407/posts"><i class="icon-google-plus"></i></a></div>
		</div>

		<div class="box featured icon">
			<div class="padd"><a href="mailto:jamesabolton@gmail.com"><i class="icon-envelope"></i></a></div>
		</div>

		@*<div class="box quote clearfix">
			<div class="padd">
				<i class="icon-quote-left"></i>
				<p>Middle age is when your age starts to show around your middle.</p>
				<span class="sign">Bob Hope</span>
			</div>
		</div>
		<div class="box">
			<a href="/Content/Images/gallery/img3.jpg" rel="prettyPhoto" title="This is the description">
				<img src="/Content/Images/gallery/img3.jpg" alt="This is the title" title=""></a>
			<div class="padd">
				<h3><a href="">Morbi purus libero</a></h3>
			</div>
		</div>
		<div class="box">
			<a href="/Content/Images/gallery/img1.jpg" rel="prettyPhoto" title="This is the description">
				<img src="/Content/Images/gallery/img1.jpg" alt="This is the title" title=""></a>
			<div class="padd">
				<h3><a href="">Morbi purus libero</a></h3>
				<p>Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula </p>
				<p><a href="#" class="link">Link style</a></p>
			</div>
		</div>
		<div class="box">
			<a href="/Content/Images/gallery/img4.jpg" rel="prettyPhoto" title="This is the description">
				<img src="/Content/Images/gallery/img4.jpg" alt="This is the title" title=""></a>
			<div class="padd">
				<p>Ut condimentum mi vel tellus. Suspendisse laoreet. Fusce ut est sed dolor gravida convallis. Morbi vitae ante. Vivamus ultrices luctus nunc. Suspendisse et dolor. Etiam dignissim. Proin malesuada adipiscing lacus. Donec metus. Curabitur gravida.</p>
				<p><a href="#" class="link">Link style</a></p>
			</div>
		</div>
		<div class="box featured icon">
			<div class="padd"><a href="http://vimeo.com/31240369" rel="prettyPhoto" title="This is the description"><i class="icon-play"></i></a></div>
		</div>
		<div class="box">
			<div class="padd">
				<h3><a href="">Ut condimentum mi vel tellus. Suspendisse laoreet.</a></h3>
				<p>Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula</p>
				<p><a href="#" class="link">Link style</a></p>
			</div>
		</div>
		<div class="box quote clearfix">
			<div class="padd">
				<i class="icon-quote-left"></i>
				<p>Of those who say nothing, few are silent. </p>
				<span class="sign">Thomas Neill</span>
			</div>
		</div>
		<div class="box featured">
			<a href="http://youtu.be/YmvHzCLP6ug" rel="prettyPhoto" title="This is the description">
				<img src="/Content/Images/gallery/img5.jpg" alt="This is the title" title=""></a>
			<div class="padd">
				<p>
					<h3>Les Misérables (2012)</h3>
				</p>
			</div>
		</div>
		<div class="box"><a href="/Content/Images/gallery/img7.jpg" rel="prettyPhoto" title="This is the description">
			<img src="/Content/Images/gallery/img7.jpg" alt="This is the title" title=""></a> </div>
		*@
	</div>
</div>
