@{
    ViewBag.Title = "Portfolio";
}
<div id="portfolio" class="clearfix">
    <div id="porfolio-container">
      <div class="box"> <a href="img/gallery/img10.jpg" rel="prettyPhoto" title="This is the description"><img src="img/gallery/img10.jpg" alt="This is the title"></a> </div>
      <div class="box"> <a href="http://vimeo.com/27246366" rel="prettyPhoto"><img src="img/gallery/img2.jpg" alt="This is the title" title=""></a>
        <div class="padd">
          <p>Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula</p>
        </div>
      </div>
      <div class="box"> <a href="img/gallery/img8.jpg" rel="prettyPhoto" title="This is the description"><img src="img/gallery/img8.jpg" alt="This is the title" title=""></a> </div>
      <div class="box"> <a href="img/gallery/img9.jpg" rel="prettyPhoto" title="This is the description"><img src="img/gallery/img9.jpg" alt="This is the title" title=""></a> </div>
      <div class="box"><a href="img/gallery/img6.jpg" rel="prettyPhoto" title="This is the description"><img src="img/gallery/img6.jpg" alt="This is the title" title=""></a> </div>
      <div class="box featured icon">
        <div class="padd"> <a href="mailto:myname@domainwebsite.com"><i class="icon-envelope"></i></a> </div>
      </div>
      <div class="box quote clearfix">
        <div class="padd"> <i class="icon-quote-left"></i>
          <p>Middle age is when your age starts to show around your middle.</p>
          <span class="sign">Bob Hope</span> </div>
      </div>
      <div class="box"><a href="img/gallery/img3.jpg" rel="prettyPhoto" title="This is the description"><img src="img/gallery/img3.jpg" alt="This is the title" title=""></a>
        <div class="padd">
          <h3><a href="">Morbi purus libero</a></h3>
        </div>
      </div>
      <div class="box"><a href="img/gallery/img1.jpg" rel="prettyPhoto" title="This is the description"><img src="img/gallery/img1.jpg" alt="This is the title" title=""></a>
        <div class="padd">
          <h3><a href="">Morbi purus libero</a></h3>
          <p>Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula </p>
          <p><a href="#" class="link">Link style</a></p>
        </div>
      </div>
      <div class="box"><a href="img/gallery/img4.jpg" rel="prettyPhoto" title="This is the description"><img src="img/gallery/img4.jpg" alt="This is the title" title=""></a>
        <div class="padd">
          <p>Ut condimentum mi vel tellus. Suspendisse laoreet. Fusce ut est sed dolor gravida convallis. Morbi vitae ante. Vivamus ultrices luctus nunc. Suspendisse et dolor. Etiam dignissim. Proin malesuada adipiscing lacus. Donec metus. Curabitur gravida.</p>
          <p><a href="#" class="link">Link style</a></p>
        </div>
      </div>
      <div class="box featured icon">
        <div class="padd"> <a href="http://vimeo.com/31240369" rel="prettyPhoto" title="This is the description"><i class="icon-play"></i></a> </div>
      </div>
      <div class="box">
        <div class="padd">
          <h3><a href="">Ut condimentum mi vel tellus. Suspendisse laoreet.</a></h3>
          <p>Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula</p>
          <p><a href="#" class="link">Link style</a></p>
        </div>
      </div>
      <div class="box quote clearfix">
        <div class="padd"> <i class="icon-quote-left"></i>
          <p>Of those who say nothing, few are silent. </p>
          <span class="sign">Thomas Neill</span> </div>
      </div>
      <div class="box featured"><a href="http://youtu.be/YmvHzCLP6ug" rel="prettyPhoto" title="This is the description"><img src="img/gallery/img5.jpg" alt="This is the title" title=""></a>
        <div class="padd">
          <p>
          <h3>Les Misérables (2012)</h3>
          </p>
        </div>
      </div>
      <div class="box"><a href="img/gallery/img7.jpg" rel="prettyPhoto" title="This is the description"><img src="img/gallery/img7.jpg" alt="This is the title" title=""></a> </div>
      <div class="box icon">
        <div class="padd"> <a href=""><i class="icon-twitter"></i></a> </div>
      </div>
    </div>
  </div>
