@{
	ViewBag.Title = "Resume";
}

<div id="resume" class="clearfix">
	<div class="box-center clearfix">
		<ul class="box-years">
			<li><a href="#year1" rel="year1_scrollTo" id="y1" class="current">now<br />
				2012</a></li>
			<li><a href="#year2" rel="year2_scrollTo" id="y2">2012<br />
				2011</a></li>
			<li><a href="#year3" rel="year3_scrollTo" id="y3">2011<br />
				2010</a></li>
			<li><a href="#year4" rel="year4_scrollTo" id="y4">2010<br />
				2006</a></li>
			<li><a href="#year5" rel="year5_scrollTo" id="y5">2006<br />
				2005</a></li>
		</ul>
		<div class="shadow box-txt-years" id="scroll">
			<div id="year1" class="yearsize">
				<h4>Lead ARGO Web Programmer</h4>
				<h5><i class="icon-angle-right"></i>Zenmonics</h5>
				<p>Providing <a href="http://argodata.com/" target="_blank">ARGO</a> developer services to Zenmonics’ clients. I have been primarly implementing significant updates to an existing <a href="http://argodata.com/" target="_blank">ARGO</a> Sales & Service application at <a href="https://www.suntrust.com" target="_blank">SunTrust Banks.</a></p>
				<p>I have led development and design efforts to increase performance and functionality of Address Maintenance so that it will quickly perform updates to thousands of accounts and introduce paging to client accounts via <a href="http://jquery.com/" target="_blank">jQuery</a>; increasing performance of clients with hundreds to thousands of accounts.</p>
				<p>In my spare time I have developed <a href="http://technet.microsoft.com/en-us/scriptcenter/powershell.aspx" target="_blank">PowerShell</a> utilities to increase developer efficiency in various areas such as analyzing log files for performance issues and filtering log files to specific requests.</p>
				<div class="note"><span>AJAX</span><span>Web Services</span><span>Integration</span><span>ARGO</span><span>C#</span> </div>
				<hr />
			</div>

			<div id="year2" class="yearsize">
				<h4>Lead ARGO Web Developer</h4>
				<h5><i class="icon-angle-right"></i>U.S. Bank</h5>
				<p>
					As a lead developer at <a href="https://www.usbank.com/" target="_blank">U.S. Bank</a> I helped lead development efforts implementing BlastPort system – converting a home grown system, BLAST .NET, sales system into <a href="http://argodata.com/" target="_blank">ARGO</a>’s Sales & Service product to unify their systems used in branches throughout the country.
					This involved integrating with <a href="http://www.oracle.com/us/products/applications/siebel/overview/index.html">Oracle Seibel Web Services</a> as access to legacy systems (Hogan/Domino/Tipco). This included creating a framework inside <a href="http://argodata.com/" target="_blank">ARGO</a> middle tier to facilitate a standardized fast and robust development process for the development team to leverage. 
				</p>
				<p>
					I also designed, documented, and implemented an AJAX framework into the bank's <a href="http://argodata.com/" target="_blank">ARGO</a> Web platform to provide asynchornous requests to the <a href="http://argodata.com/" target="_blank">ARGO</a> middle teir. 
					To further improve the AJAX framework I designed and implemented an asynchronous framework inside the <a href="http://argodata.com/" target="_blank">ARGO</a> middle tier platform. 
				</p>
				<div class="note"><span>AJAX</span><span>Web Services</span><span>Integration</span><span>ARGO</span> </div>
				<hr />
			</div>
			<div id="year3" class="yearsize">
				<h4>ARGO Fat Client Developer</h4>
				<h5><i class="icon-angle-right"></i>Jack Henry</h5>
				<p>At <a href="http://www.jackhenry.com/" target="_blank">Jack Henry</a> I researched, coded, and tested fixes for defects and enhancements in the company's <a href="http://argodata.com/">ARGO</a> lending application. Their lending app is a fat client rather than a client-server system.</p>
				<p>I worked directly with the customers and QA to research and resolve defects. I also assisted in designing and implementing new features fora  web service which generates PDF and <a href="http://www.harlandfinancialsolutions.com/solutions/lending-compliance/laserpro" target="_blank">LasrPro</a> documents from user input in the lending application.</p>
				<div class="note"><span>Fat Client</span><span>ARGO</span><span>Integration</span><span>Web Services</span> </div>
				<hr />
			</div>
			<div id="year4" class="yearsize">
				<h4>Web Programmer</h4>
				<h5><i class="icon-angle-right"></i>GM Financial – AmeriCredit</h5>
				<p>I worked as a web developer on internal and external systems as AmeriCredit transitioned to <a href="http://www.gmfinancial.com/" target="_blank">Financial</a>. I also provided support for production issues on a daily basis. </p>
				<p>I implemented two releases for a production system that added support for new GM branding with dealerships. Also, I designed and developed a WPF application to display log files across multiple servers.</p>
				<div class="note"><span>JavaScript</span><span>WPF</span> </div>
				<hr />
			</div>
			<div id="year5" class="yearsize">
				<h4>Lead ARGO Programmer Analyst</h4>
				<h5><i class="icon-angle-right"></i>ARGO Data Resource Corporation</h5>
				<p>Straight out of college I started working for <a href="http://argodata.com/">ARGO</a> where I was promoted from Entry Level Programmer, to Certified Programmer, to Certified Programmer II, to Programmer Analyst / Lead Developer over 3 years. I was a lead programmer for implementing financial software solutions for several banks. Solutions included Sales & Service, Teller, Lending, Service Request Workflow, Reporting, Workflow, Contact Center, and CBRM.</p>
				<p>My accomplishments include...</p>
				<ul>
					<li>Assisted in the design and led the implementation of the US Bank proof of concept to determine if Argo Sales & Service could be merged with BLAST or if one the solutions should replace the other</li>
					<li>Designed and developed ARGO’s first full integration to Cash Recyclers and Dispensers which hosted a web service which was interfaced with using WCF, XML/XSL and C#</li>
					<li>Designed and developed front and back end system to store and regenerate PDF documents that were created in Sales & Service; used MS SQL, JavaScript, ASP, and ARGO’s proprietary language to implement</li>
					<li>Designed and implemented C# code to generate VB.NET code based on XML templates</li>
					<li>Designed and implemented C# console application to generate XSDs representing request and response data formats for internal functions in ARGO’s proprietary code</li>
				</ul>
				<p>My daily responsibilities included...</p>
				<ul>
					<li>Provide rapid support for bank’s production systems</li>
					<li>Liaised with product support to deliver product customizations to ARGO’s base products and to other clients</li>
					<li>Supervise junior developers throughout project lifecycle</li>
					<li>Three developers work under my guidance for two years</li>
				</ul>
				<div class="note"><span>Web Client</span><span>Fat Client</span><span>ARGO</span><span>Integration</span><span>Web Services</span><span>WCF</span><span>PowerShell</span> </div>
				<hr />
			</div>
		</div>
	</div>
	<div class="box-right clearfix">
		<div class="skill clearfix">
			<h2>SKILLS<i class="icon-star"></i></h2>
			<div class="item-skill shadow">
				<h3>HTML5</h3>
				<div class="my-progress-bar" data-bar-length="95"></div>
			</div>
			<div class="item-skill shadow">
				<h3>CSS3</h3>
				<div class="my-progress-bar" data-bar-length="85"></div>
			</div>
			<div class="item-skill shadow">
				<h3>MS SQL</h3>
				<div class="my-progress-bar" data-bar-length="90"></div>
			</div>
			<div class="item-skill shadow">
				<h3>ASP.NET MVC 3&4</h3>
				<div class="my-progress-bar" data-bar-length="95"></div>
			</div>
			<div class="item-skill shadow">
				<h3>JavScript/jQuery</h3>
				<div class="my-progress-bar" data-bar-length="100"></div>
			</div>
			<div class="item-skill shadow">
				<h3>ARGO ADS</h3>
				<div class="my-progress-bar" data-bar-length="100"></div>
			</div>
			<div class="item-skill shadow">
				<h3>XML/XSL</h3>
				<div class="my-progress-bar" data-bar-length="100"></div>
			</div>
			<div class="item-skill shadow">
				<h3>JSON</h3>
				<div class="my-progress-bar" data-bar-length="100"></div>
			</div>
			<div class="item-skill shadow">
				<h3>PowerShell</h3>
				<div class="my-progress-bar" data-bar-length="60"></div>
			</div>
			<div class="item-skill shadow">
				<h3>WCF</h3>
				<div class="my-progress-bar" data-bar-length="80"></div>
			</div>
			<div class="item-skill shadow">
				<h3>WPF</h3>
				<div class="my-progress-bar" data-bar-length="50"></div>
			</div>
		</div>
		@*<div class="certificate clearfix">
			<h2>CERTIFICATIONS<i class="icon-certificate"></i></h2>
			<ul>
				<li><strong>MCSD</strong> - Solutions Developer</li>
				<li><strong>CCIE</strong> - Cisco Certified Internetwork Expert</li>
				<li><strong>ACSP</strong> - Apple Certified Support Professional</li>
			</ul>
		</div>*@
	</div>
</div>
